body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
    background-color: #E6FF94;
}

.azul {
    width: 100%;
    height: 190px;
    background-color: #A8D4D8;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.azul h1{
    font-family: 'Julius Sans One';
    font-size: 70px;
    font-weight: 600;
    color: #FEFAE0;
    -webkit-text-stroke: 3px white;
    -webkit-text-fill-color: #FEFAE0;
    margin-top: 50px;
}
.raya{
    width: 1250px;
    height: 6px;
    background-color: white;
    flex-shrink: 0;
    margin-top: -35px;
    margin-bottom: -17px;
}
.azul p{
    font-family: 'Montserrat';
    font-size: 30px;
    font-weight: 320;
    color: #734747;
    
}
.bloques {
    width: 90%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 18px;
    padding: 50px;
    margin-left: 20px;
    justify-items: center;
    padding-bottom: 30px;
}

.bloque1 {
    height: 330px;
    width: 280px;
    background-color: #B7E2A4;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    padding-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

.bloque1:hover {
    transform: scale(1.01);
}

.imagen {
    height: 160px;
    width: 90%;
    background-color: aqua;
    border-radius: 8px;
}

.nombre {
    font-family: 'Julius Sans One';
    font-size: 25px;
    margin-top: -5px;
    margin-bottom: -20px;
}

.barra {
    height: 30px;
    width: 90%;
    border-radius: 11px;
    background: linear-gradient(to right, #FC0202, #F84F03, #F1C104, #FAFF00, #07FF00, #3be235);
    margin-top: 10px;
}

.tipoPlanta {
    height: 30px;
    width: 90%;
    border-radius: 11px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    font-family: 'Inter';
    margin-top: 8px;
}

.tipoValor {
    color: #4B9AA1;
    font-weight: 700;
    margin-left: 5px;
}
.tipoValor:hover{
    color: #0072ab;
}

#btnPanel {
    padding: 8px 5px;
    border-radius: 8px;
    background-color: #AA6868;
    color: white;
    margin-top: 18px;
    margin-bottom: 5px;
    border: none;
    padding: 8px;
    transition: transform 0.3s ease;
    cursor: pointer;
    font-weight: 530;
}

#btnPanel:hover {
    background-color: #7f4848;
}

#btnMas {
    width: 80px;
    height: 80px;
    transition: transform 0.1s ease;
    margin-bottom: 10px;
    cursor: pointer;
}

#btnMas:hover {
    transform: scale(1.03);
    opacity: 0.5;
}

.imgDiv {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

